{% extends "layout.html" %}
{% block content %}
  <style>
    .text-center h1 {
      text-align: center;
      color: #01262c;
    }

    .description-box {
      background-color: rgb(167, 225, 236);
      border-radius: 15px;
      padding: 30px;
      margin: 0 auto;
      width: 80%;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .description {
      text-align: center;
    }

    .description h1 {
      font-size: 40px;
      margin-top: 20px;
    }

    .description p {
      font-size: 20px;
      line-height: 1.6;
    }

  </style>

  <div class="text-center">

    <h1>WELCOME</h1>
    <div class="description-box">
      <div class="description">
        <h1>Aim of project</h1>
        <p>
          This project aims to develop a predictive model for residential house prices using a feed-forward artificial neural network. The
            model is trained on a structured dataset containing detailed property characteristics, architectural features, location information,
            and building quality indicators. Each row in the dataset represents a single residential property, while each column represents a
            feature used for predicting the sale price.
        </p>

        <h1>How to use the predictor</h1>
        <p>
          Upload a CSV file containing the required house-related information such as lot size, zoning classification, building type, number of rooms,
            basement details, garage size, quality ratings, and other property features. Once the file is uploaded, the predictor processes the input
            data using the trained neural network and returns an estimated sale price.
        </p>
        <h1>Description of the neural network</h1>
        <p>This neural network is feed-forward (FFNN). It has 128 neurons in the first layer, 64 in the second and in the last one it has 1. Every neuron form
        the first two layers has an activation function that is sigmoid. The training is done with 60 epoch and a batch size of 64, it uses an 80/20 split
            for minimal training loss.</p>
      </div>
    </div>
  </div>
{% endblock %}
