{% extends "layout.html" %}

{% block title %}Predict{% endblock %}

{% block content %}
<style>
    .text-center h2 {
        text-align: center;
        color: #01262c;
        font-size: 40px;
        margin-top: 20px;
    }

    .predict-box {
        background-color: rgb(132, 209, 223);
        border-radius: 15px;
        padding: 30px;
        margin: 30px auto;
        width: 60%;
        max-width: 600px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font-family: Arial, sans-serif;
    }

    .predict-box form > div {
        margin-bottom: 20px;
    }

    label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
        color: #01262c;
    }

    input[type="file"],
    select {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: rgb(217, 236, 239);
    }

    button[type="submit"],
    .url-button {
        background-color: rgb(3, 78, 90);
        color: white;
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
        margin-top: 20px;
    }

    button[type="submit"]:hover,
    .url-button:hover {
        background-color: #067c8f;
    }


</style>

<div class="text-center">
    <h2>Predict House Prices</h2>
    <div class="predict-box">
        <form method="POST" enctype="multipart/form-data">
            <div>
                <label for="csv_file">Upload CSV:</label>
                <input type="file" name="csv_file" id="csv_file" required>
            </div>

            <div>
                <button type="submit">Upload & Continue</button>
            </div>
        </form>


    </div>
</div>
{% endblock %}
